.header {
    padding-top: 10px;
    padding-bottom: 8px;
    gap: 12px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-user-info {
    margin-right: 10px
}
.header.open {
    padding-left: 260px;
    transition: padding-left 0.3s ease;
}

.header.closed {
    padding-left: 90px;
    transition: padding-left 0.3s ease;
}

@media (max-width: 1200px) {
    .header.open {
        padding-left: 260px;
    }
    .header.closed {
        padding-left: 90px;
    }
}

@media (max-width: 768px) {
    .header.open {
        padding-left: 60px;
    }
    .header.closed {
        padding-left: 90px;
    }
}

@media (max-width: 576px) {
    .header {
        padding-left: 90px;
        gap: 8px;
    }
    .header-heading {
        font-size: 18px;
    }
    .header-user-info {
        align-items: flex-start;
        gap: 12px;
    }
}
