body {
    overflow-x: hidden;
}
.main-content {
    transition: margin-left 0.3s ease;
    margin-left: 260px;
    margin-top: 70px;
}

.sidebar-closed {
    margin-left: 80px;
}

@media (max-width: 1200px) {
    .main-content {
        margin-left: 260px;
    }

    .sidebar-closed {
        margin-left: 80px;
    }
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 80px;
    }

    .sidebar-closed {
        margin-left: 80px;
    }
}

@media (max-width: 576px) {
    .main-content {
        margin-left: 0;
        max-width: 100%;
    }

    .sidebar-closed {
        margin-left: 80px;
    }
}
